<label>Server Name</label>
<!-- <input 
 type="text"
 class="form-control"
 (input)="onUpdateServerName($event)"> -->
 <input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
 <!-- <p>{{ serverName }}</p> -->
<button 
 class="btn btn-primary" 
 [disabled]="!allowNewServer"
 (click)="onCreateServer()">Add Server
</button>
<!-- <p [innerText] = "allowNewServer"></p> -->
<!-- <p> {{ serverCreationStatus }} </p> -->
<!-- <p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p> -->
<!-- <ng-template #noServer>
    <p>
        No server was created!
    </p>
</ng-template> -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>
<!-- <warning-alert></warning-alert> -->
<!-- <success-alert></success-alert> -->

<p>Task 3</p>
<button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
<p *ngIf="showSecret">Secret Password = 'tuna'</p>
<div *ngFor="let logBtn of logBtnClicks; let i = index">
    <p 
    [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text': i >= 5}">
    Element: {{ logBtn }}
</p>
</div>
